.Entity .EntityText {
    font: 24px monospace;
    text-anchor: middle;
    alignment-baseline: central;
    fill: #999;
    pointer-events: none;
}

.Entity .EntityTextDbg {
    font: 10px monospace;
    font-weight: bold;
    text-anchor: middle;
    alignment-baseline: central;
    fill: #00F;
    pointer-events: none;
}

.Tile .TileTextDbg {
    font: 6px monospace;
    text-anchor: middle;
    alignment-baseline: central;
    fill: #f00;
    visibility: hidden;
    pointer-events: none;
}

.Tile:hover .TileTextDbg {
    visibility: visible;
}

.Tile rect {
    fill: #eee;
    stroke-width: 1px;
    stroke: #999;
}

.GameContainer
, .Entity {
    transition: transform .25s;
}