.ChunkEdit {
  user-select: none;
}

.ChunkEdit_Cell {
  fill: #ddd;
  stroke-width: 1px;
  stroke: #222;
  cursor: pointer;
}
.ChunkEdit_Cell:hover {
  fill: #afa;
}

.ChunkEdit_Node {
  fill: #fff;
  stroke-width: 1px;
  stroke: #222;
}

.ChunkEdit_Node.Selected {
  stroke-width: 1px;
  stroke-dasharray: 3px;
  stroke: #77F;
}

.ChunkEdit_Node_Text {
  fill: #222;
  font-size: 14px;
  text-anchor: middle;
  alignment-baseline: central;
}

.ChunkEdit_Selection {
  fill: none;
  stroke-width: 1px;
  stroke-dasharray: 5px;
  stroke: #77F;
}

.ChunkEdit_LinkLine {
  stroke-width: 1px;
  stroke: #272;
}
